<META name="y_key" content="36d7eb5f52dd5f65" />
<% if signed_in? %>

  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">Enter Comments</h1>
        <%= render 'shared/micropost_form' %>
        <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
        <%= render 'shared/stats' %>
      </td>
    </tr>
  </table>

<% else %>

<h1>Billable Mileage</h1>
<p>
  This is the home page for Billable Mileage App available now in the app store.
  <a href="http://www.billablemilage.com">Billable Mileage</a>
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>